<form (ngSubmit)="submitSearch()">
  <input type="text" placeholder="Type to search music" name="term" [(ngModel)]="term" class="form-control input-lg well">
  <!-- <button type="submit" class="btn btn-info">Search</button> -->
</form>

<div *ngIf="!results">
  <p>Search for something!</p>
</div>

<div *ngIf="results?.resultCount == 0">
    <p>Couldn't find results</p>
</div>

<h3 *ngIf="results?.resultCount > 0">Search Results</h3>
<table *ngIf="results?.resultCount > 0" class="table">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>TITLE</th>
      <th>ARTIST</th>
      <th>ALBUM</th>
      <th>RELASE DATE</th>
      <th>COVER</th>
      <th>TIME</th>
      <th>GENERO</th>
      <th>PRICE</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let res of results.results; let i=index">
    <td>{{ i+1 }}</td>
    <td><a href="{{ res.trackViewUrl }}">{{ res.trackName }}</a></td>
    <td>{{ res.artistName }}</td>
    <td>{{ res.collectionName }}</td>
    <td>{{ res.releaseDate | date }}</td>
    <td><img src="{{ res.artworkUrl100 }}" alt=""></td>
    <td>{{ res.trackTimeMillis }}</td>
    <td>{{ res.primaryGenreName }}</td>
    <td>{{ res.trackPrice }}&#8364;</td>
  </tr>
  </tbody>
</table>
